# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/HEAD/app/assets/javascripts/editor/schema/ci.json

stages:
  - test
  - build
  - release
  - deploy
  - migrate

variables:
  TAG_IMAGE: $CI_COMMIT_TAG

unit_test:
  stage: test
  image: golang:1.24.4
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - go install github.com/jstemmer/go-junit-report/v2@latest
    - go mod download
  script:
    - echo "Running unit tests..."
    - go test -v -coverprofile=coverage.out ./internal/service/... 2>&1 | tee test-output.txt # Run and save test output to a file
    - cat test-output.txt | go-junit-report -set-exit-code > report.xml # Convert test output to JUnit format
    - go tool cover -func=coverage.out # Generate coverage report
  coverage: '/total:.*\s+(\d+\.\d+)%/' # Extract coverage percentage using regex
  artifacts:
    when: always
    reports:
      junit: report.xml # Upload JUnit test report to GitLab Pipelines
    paths:
      - coverage.out # Upload coverage report to GitLab Artifacts

build_backend:
  stage: build
  image: docker:latest
  needs:
    - job: unit_test
      artifacts: true
  services:
    - docker:dind
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Building backend application..."
    - docker build -f ./Dockerfile.api -t "$CI_REGISTRY_IMAGE/umkmgo-backend:latest" -t "$CI_REGISTRY_IMAGE/umkmgo-backend:$TAG_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE/umkmgo-backend" --all-tags
    - echo "$CI_JOB_ID" > umkmgo-backend_build_job_id.txt
  artifacts:
    paths:
      - umkmgo-backend_build_job_id.txt
      - coverage.out

build_migrate:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - echo "Building migration image..."
    - docker build -f ./Dockerfile.migrate -t "$CI_REGISTRY_IMAGE/umkmgo-migrate:latest" -t "$CI_REGISTRY_IMAGE/umkmgo-migrate:$TAG_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE/umkmgo-migrate" --all-tags
    - echo "$CI_JOB_ID" > umkmgo-migrate_build_job_id.txt
  artifacts:
    paths:
      - umkmgo-migrate_build_job_id.txt

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  needs:
    - job: unit_test
      artifacts: true
    - job: build_backend
      artifacts: true
    - job: build_migrate
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - apk add --no-cache curl
  script:
    - export BACKEND_BUILD_JOB_ID="$(cat umkmgo-backend_build_job_id.txt)"
    - export MIGRATE_BUILD_JOB_ID="$(cat umkmgo-migrate_build_job_id.txt)"
    - echo "Creating release ${CI_COMMIT_TAG}"
    # Upload coverage.out sebagai generic package
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file coverage.out \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/coverage/${CI_COMMIT_TAG}/coverage.out"
  release:
    tag_name: $CI_COMMIT_TAG
    name: "Release ${CI_COMMIT_TAG}"
    description: "Tagged after commit ${CI_COMMIT_SHORT_SHA}, message: ${CI_COMMIT_TAG_MESSAGE}"
    assets:
      links:
        - name: "Backend Image Artifacts"
          url: "${CI_PROJECT_URL}/-/jobs/${BACKEND_BUILD_JOB_ID}/artifacts/download"
          link_type: package
        - name: "Migration Image Artifacts"
          url: "${CI_PROJECT_URL}/-/jobs/${MIGRATE_BUILD_JOB_ID}/artifacts/download"
          link_type: package
        - name: "Coverage Report"
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/coverage/${CI_COMMIT_TAG}/coverage.out"
          link_type: other

deploy-staging:
  stage: deploy
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - "which ssh-agent || ( apk update && apk add --no-cache openssh)"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - |
      ssh -p $SSH_PORT -o StrictHostKeyChecking=no ${SSH_USER}@${SSH_HOST} "
        export APP_IMAGE_STG_BACKEND="$CI_REGISTRY_IMAGE/umkmgo-backend" &&
        export APP_IMAGE_STG_BACKEND_TAG=$TAG_IMAGE &&
        export APP_IMAGE_STG_MIGRATE="$CI_REGISTRY_IMAGE/umkmgo-migrate" &&
        export APP_IMAGE_STG_MIGRATE_TAG=$TAG_IMAGE &&

        cd ~/web/staging/umkmgo

        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker compose -f docker-compose.stg.yml rm -f umkmgo-staging-backend &&
        docker compose -f docker-compose.stg.yml pull umkmgo-staging-backend umkmgo-staging-migrate &&
        docker compose -f docker-compose.stg.yml --profile backend up -d --build
      "

deploy-production:
  stage: deploy
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - "which ssh-agent || ( apk update && apk add --no-cache openssh)"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - |
      ssh -p $SSH_PORT -o StrictHostKeyChecking=no ${SSH_USER}@${SSH_HOST} " 
        export APP_IMAGE_PROD_BACKEND="$CI_REGISTRY_IMAGE/umkmgo-backend" &&
        export APP_IMAGE_PROD_BACKEND_TAG=$TAG_IMAGE &&
        export APP_IMAGE_PROD_MIGRATE="$CI_REGISTRY_IMAGE/umkmgo-migrate" &&
        export APP_IMAGE_PROD_MIGRATE_TAG=$TAG_IMAGE &&

        cd ~/web/production/umkmgo

        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker compose -f docker-compose.prod.yml rm -f umkmgo-production-backend &&
        docker compose -f docker-compose.prod.yml pull umkmgo-production-backend umkmgo-production-migrate &&
        docker compose -f docker-compose.prod.yml --profile backend up -d --build
      "
  when: manual

migrate-staging:
  stage: migrate
  image: alpine:latest
  needs:
    - job: build_migrate
      artifacts: true
    - job: deploy-staging
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - "which ssh-agent || ( apk update && apk add --no-cache openssh)"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - |
      ssh -p $SSH_PORT -o StrictHostKeyChecking=no ${SSH_USER}@${SSH_HOST} "
        export APP_IMAGE_STG_MIGRATE=\"$CI_REGISTRY_IMAGE/umkmgo-migrate\" &&
        export APP_IMAGE_STG_MIGRATE_TAG=$TAG_IMAGE &&

        cd ~/web/staging/umkmgo
        
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker pull $CI_REGISTRY_IMAGE/umkmgo-migrate:$TAG_IMAGE &&
        
        echo 'Running database migration for staging environment...' &&
        docker compose -f docker-compose.stg.yml --profile migrate run --rm umkmgo-staging-migrate
        
        echo 'Migration completed for staging environment'
      "
  when: manual

migrate-production:
  stage: migrate
  image: alpine:latest
  needs:
    - job: build_migrate
      artifacts: true
    - job: deploy-production
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]{4}\.[0-9]{1,3}$/
  before_script:
    - "which ssh-agent || ( apk update && apk add --no-cache openssh)"
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 700 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - |
      ssh -p $SSH_PORT -o StrictHostKeyChecking=no ${SSH_USER}@${SSH_HOST} "
        export APP_IMAGE_PROD_MIGRATE=\"$CI_REGISTRY_IMAGE/umkmgo-migrate\" &&
        export APP_IMAGE_PROD_MIGRATE_TAG=$TAG_IMAGE &&

        cd ~/web/production/umkmgo
        
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker pull $CI_REGISTRY_IMAGE/umkmgo-migrate:$TAG_IMAGE &&
        
        echo 'Running database migration for production environment...' &&
        docker compose -f docker-compose.prod.yml --profile migrate run --rm umkmgo-production-migrate
        
        echo 'Migration completed for production environment'
      "
  when: manual
